<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Tushar French Class</title>
  </head>
  <body>
    <div id="app">
        <h1>Tushar's French Class</h1>
        <h2>Qui Es-Tu (Who are you?)</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(dataItem, index) in whoAreYou">
                    <th scope="row">{{index+1}}</th>
                    <td>
                        <p class="lead">{{dataItem.question.french}}</p>
                        <p>{{dataItem.question.english}}</p>
                        <p>{{dataItem.question.pronunciation}}</p>
                    </td>
                    <td>
                        <p class="lead">{{dataItem.answer.french}}</p>
                        <p>{{dataItem.answer.english}}</p>
                        <p>{{dataItem.answer.pronunciation}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    
        <h2>Salut ca va? (Hello, How are you?)</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(dataItem, index) in howAreYou">
                    <th scope="row">{{index+1}}</th>
                    <td>
                        <p class="lead">{{dataItem.question.french}}</p>
                        <p>{{dataItem.question.english}}</p>
                        <p>{{dataItem.question.pronunciation}}</p>
                    </td>
                    <td>
                        <p class="lead">{{dataItem.answer.french}}</p>
                        <p>{{dataItem.answer.english}}</p>
                        <p>{{dataItem.answer.pronunciation}}</p>
                    </td>
                </tr>
            </tbody>
        </table>


        <h2>Les Phrases Pour Communiquer En Classe (Phrases For Communicating In Class)</h2>
        <table class="table">
            <thead class="thead-light">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Question</th>
                <th scope="col">Answer</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(dataItem, index) in classCommunication">
                    <th scope="row">{{index+1}}</th>
                    <td>
                        <p class="lead">{{dataItem.question.french}}</p>
                        <p>{{dataItem.question.english}}</p>
                        <p>{{dataItem.question.pronunciation}}</p>
                    </td>
                    <td>
                        <p class="lead">{{dataItem.answer.french}}</p>
                        <p>{{dataItem.answer.english}}</p>
                        <p>{{dataItem.answer.pronunciation}}</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div id="like_button_container"></div> -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    
    
    <!--
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="data.js"></script>
    <script src="main-react.js"></script>
    -->
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="data.js"></script>
    <script src="main-vue.js"></script>
</body>
</html>